.side-menu {
    height: calc(100vh - 65px);
    width: 67vw;
    background: white;
    position: fixed;
    top: 65px;
    animation-name: slide;
    animation-duration: 250ms;
    animation-timing-function: linear;
}

@keyframes slide {
    from {
        width: 0;
    }
    to {
        width: 67vw;
    }
}